In [41]:
## caged_brach
%reload_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
from datetime import datetime

pd.options.display.max_columns = 999
pd.options.display.max_rows = 1999
pd.options.display.max_colwidth = 200

from paths import *
from scpts import manipulation
from scpts import io
from scpts import caged_novo

from basedosdados import Storage, Table, Dataset
import basedosdados as bd

import glob
import shutil

### Download Dados
 - ftp://ftp.mtps.gov.br/pdet/microdados/CAGED/
 - ftp://ftp.mtps.gov.br/pdet/microdados/CAGED_AJUSTES/
 - ftp://ftp.mtps.gov.br/pdet/microdados/NOVO%20CAGED/

### Get Urls

In [7]:
download_dict = caged_novo.get_download_links()

estabelecimentos
movimentacoes

### DOWNLOAD E TRATAMENTO

- download
- extrair
- load
- padroniza nome das colunas
- limpa
- salva, formato ano=xxxx/mes=xx/sigla_uf=XX
- upload bd
- deleta arquivos

In [15]:
today = datetime.strftime(datetime.today(), "%Y-%m-%d")


RAW_PATH = "../data/caged_novo/raw/"
CLEAN_PATH = "../data/caged_novo/clean/"

# GET MUNICIPIOS FROM BD
print("====== ", today, " ======")
query = """
SELECT 
    sigla_uf,
    id_municipio,
    id_municipio_6
FROM `basedosdados.br_bd_diretorios_brasil.municipio` 
"""

municipios = bd.read_sql(query, billing_project_id="basedosdados-dev")
print("\n")

======  2021-10-05  ======

Downloading: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5570/5570 [00:00<00:00, 9711.31rows/s]

In [30]:
def upload_to_raw(tipo, save_raw_path):
    if tipo == "estabelecimentos":
        st = bd.Storage(table_id="microdados_estabelecimentos", dataset_id="br_me_caged")
    else:
        st = bd.Storage(table_id="microdados_movimentacoes", dataset_id="br_me_caged")
        
    st.upload(
        path=save_raw_path,
        mode='raw',
        if_exists='replace'
    )

In [34]:
# deleta pasta
if os.path.isdir(CLEAN_PATH):
    shutil.rmtree(CLEAN_PATH)
if os.path.isdir(RAW_PATH):
    shutil.rmtree(RAW_PATH)

print("Get download links")
download_dict = caged_novo.get_download_links()
print("\n")

for tipo in list(download_dict.keys()):

    download_opt = caged_novo.get_filtered_download_dict(
        tipo=tipo, download_dict=download_dict, bucket_name="basedosdados-dev"
    )

    print(f"Filter download links {tipo}")

    trigger, download_opt = caged_novo.get_trigger_and_download_opt(download_opt, tipo)

    if trigger:
        for year_month_path in list(download_opt.keys()):
            print(tipo, ": ", year_month_path)
            ## download data
            save_path = RAW_PATH + f"{tipo}/" + year_month_path
            caged_novo.download_data(save_path, download_opt[year_month_path])
            
            #create some vars
            file_name = download_opt[year_month_path].split("/")[-1].split(".")[0]
            file_path = RAW_PATH + f"{tipo}/" + year_month_path
            
#             caged_novo.upload_to_raw(tipo=tipo, save_raw_path=f"{save_path}{file_name}.7z")


            # extrai arquivo
            caged_novo.extract_file(file_path, file_name, save_rows=None)

            # load e organiza os dados
            df = caged_novo.rename_add_orginaze_columns(file_path, file_name, tipo, municipios)

            # salva no formato de particao
            save_clean_path = CLEAN_PATH + f"{tipo}/"
            caged_novo.creat_partition(df, save_clean_path, year_month_path)

            # upload basedosdados
#             caged_novo.upload_to_bd(tipo, save_clean_path)

            # deleta pasta
#             shutil.rmtree(CLEAN_PATH + f"{tipo}/")
#             shutil.rmtree(RAW_PATH + f"{tipo}/")

    print("\n")

Get download links
estabelecimentos
movimentacoes


Filter download links estabelecimentos
nothing to download


Filter download links movimentacoes
Downloading missing file
movimentacoes :  2020/1/

Downloading: 100%|██████████████████████| 5570/5570 [00:00<00:00, 9060.92rows/s]

     sigla_uf id_municipio id_municipio_6
0          RO      1100015         110001
1          RO      1100023         110002
2          RO      1100031         110003
3          RO      1100049         110004
4          RO      1100056         110005
...       ...          ...            ...
5565       GO      5222005         522200
5566       GO      5222054         522205
5567       GO      5222203         522220
5568       GO      5222302         522230
5569       DF      5300108         530010

[5570 rows x 3 columns]

### Create table and fill metadata

In [35]:
tb = bd.Table(table_id = 'microdados_movimentacoes',dataset_id = 'br_me_caged')
# st = bd.Storage('br_me_caged','microdados_movimentacoes',)
# st.delete_table(bucket_name='basedosdados-dev')
tb.create(path='../data/caged_novo/clean/movimentacoes/',
          if_table_config_exists='pass',
          if_storage_data_exists='replace',
          if_table_exists='replace'
         )

# tb.update_columns('https://docs.google.com/spreadsheets/d/1ihyOCSkaarmR3uMHj8bmP9tv-OChVeL2LkEWaGqxp7w/edit#gid=787251136')

tb.publish(if_exists='replace')

Uploading files: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 27/27 [00:51<00:00,  1.91s/it]

In [54]:
tb = bd.Table(table_id = 'microdados_estabelecimentos',dataset_id = 'br_me_caged')
st = bd.Storage('br_me_caged','microdados_estabelecimentos',)
st.delete_table(bucket_name='basedosdados-dev')
# tb.create(path='../data/caged_novo/clean/estabelecimentos/', 
#           if_table_config_exists='pass',
#           if_storage_data_exists='replace',
#           if_table_exists='replace' 
#          )

# tb.update_columns('https://docs.google.com/spreadsheets/d/1-XQM9mhlJ3-t10c7cPpwOOK24hKz0u3qR6m04I1PoR4/edit#gid=1885260190')

# tb.publish(if_exists='replace')

In [55]:
## fill columns description

In [46]:
### SQL

In [3]:
tb = bd.Table(table_id='dicionario',dataset_id='br_me_caged')
tb.create(path='/Users/m/Downloads/dicionario.csv',
          if_table_config_exists='replace',
          if_storage_data_exists='replace',
          if_table_exists='replace'
         )

Uploading files: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.23it/s]

In [4]:
tb.publish()

## VIZ

In [42]:
query = """
SELECT * FROM `basedosdados-projetos.br_me_caged.desligamento_por_morte`
"""
df = bd.read_sql(query, billing_project_id='basedosdados-dev')

Downloading: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 491442/491442 [00:33<00:00, 14679.08rows/s]

In [76]:
br = df.groupby(by=['ano','mes'], as_index=False).sum()
date = pd.to_datetime(br['ano'].astype(str) + '-' + br['mes'].astype(str), format='%Y-%m').apply(lambda x: x.strftime('%Y-%m')) 
br.insert(0,'date',date)
br = br[br['ano']>=2000].drop(columns=['ano','mes'])
br.to_clipboard(index=False)

In [77]:
br

        date  desligamento_morte
0    2007-01                3226
1    2007-02                2804
2    2007-03                3106
3    2007-04                3033
4    2007-05                3315
5    2007-06                3320
6    2007-07                3399
7    2007-08                3260
8    2007-09                3211
9    2007-10                3409
10   2007-11                3169
11   2007-12                3180
12   2008-01                3370
13   2008-02                3257
14   2008-03                3298
15   2008-04                3279
16   2008-05                3468
17   2008-06                3448
18   2008-07                3616
19   2008-08                3389
20   2008-09                3658
21   2008-10                3794
22   2008-11                3505
23   2008-12                3163
24   2009-01                3607
25   2009-02                3179
26   2009-03                3691
27   2009-04                3336
28   2009-05                3496
29   2009-06                3472
30   2009-07                3837
31   2009-08                3875
32   2009-09                3741
33   2009-10                3818
34   2009-11                3642
35   2009-12                3598
36   2010-01                3666
37   2010-02                3428
38   2010-03                3767
39   2010-04                3790
40   2010-05                3944
41   2010-06                4039
42   2010-07                3977
43   2010-08                4023
44   2010-09                3975
45   2010-10                3902
46   2010-11                3870
47   2010-12                4035
48   2011-01                4334
49   2011-02                3549
50   2011-03                4206
51   2011-04                3842
52   2011-05                4354
53   2011-06                4194
54   2011-07                4368
55   2011-08                4316
56   2011-09                4360
57   2011-10                4429
58   2011-11                4289
59   2011-12                4196
60   2012-01                4250
61   2012-02                3957
62   2012-03                4323
63   2012-04                4035
64   2012-05                4403
65   2012-06                4376
66   2012-07                4638
67   2012-08                4655
68   2012-09                4555
69   2012-10                4630
70   2012-11                4381
71   2012-12                4110
72   2013-01                4731
73   2013-02                4075
74   2013-03                4300
75   2013-04                4380
76   2013-05                4663
77   2013-06                4453
78   2013-07                4949
79   2013-08                4784
80   2013-09                4537
81   2013-10                4726
82   2013-11                4453
83   2013-12                3755
84   2014-01                4848
85   2014-02                4135
86   2014-03                4660
87   2014-04                4531
88   2014-05                4759
89   2014-06                4519
90   2014-07                4727
91   2014-08                4752
92   2014-09                4643
93   2014-10                4807
94   2014-11                4379
95   2014-12                4236
96   2015-01                5148
97   2015-02                4164
98   2015-03                4464
99   2015-04                4494
100  2015-05                4601
101  2015-06                4603
102  2015-07                4722
103  2015-08                4576
104  2015-09                4486
105  2015-10                4421
106  2015-11                4306
107  2015-12                4290
108  2016-01                4593
109  2016-02                4176
110  2016-03                4684
111  2016-04                4486
112  2016-05                4694
113  2016-06                4588
114  2016-07                4536
115  2016-08                4649
116  2016-09                4257
117  2016-10                4416
118  2016-11                4299
119  2016-12                4181
120  2017-01                4411
121  2017-02                3748
122  2017-03                4207
123  2017-04                3748
124  2017-05                4569
125  2017-06                4368
126  2017-07                4479
127  2017-08                4580
128  2017-09                4408
129  2017-10                4496
130  2017-11                4234
131  2017-12                4153
132  2018-01                4578
133  2018-02                4192
134  2018-03                4121
135  2018-04                4238
136  2018-05                4350
137  2018-06                4662
138  2018-07                4728
139  2018-08                4765
140  2018-09                4333
141  2018-10                4419
142  2018-11                4081
143  2018-12                4048
144  2019-01                4415
145  2019-02                3751
146  2019-03                4175
147  2019-04                4182
148  2019-05                4495
149  2019-06                4202
150  2019-07                4604
151  2019-08                4254
152  2019-09                4277
153  2019-10                4315
154  2019-11                4064
155  2019-12                4056
156  2020-01                4599
157  2020-02                4085
158  2020-03                4510
159  2020-04                5386
160  2020-05                6484
161  2020-06                5937
162  2020-07                6015
163  2020-08                5992
164  2020-09                5314
165  2020-10                5022
166  2020-11                4862
167  2020-12                5675
168  2021-01                6524
169  2021-02                5869
170  2021-03               11270
171  2021-04               12002
172  2021-05               11089
173  2021-06               11499
174  2021-07                8580
175  2021-08                6431