### A typical top-level directory layout

    .
    ├── build                   # Compiled files (alternatively `dist`)
    ├── docs                    # Documentation files (alternatively `doc`)
    ├── src                     # Source files (alternatively `lib` or `app`)
    ├── test                    # Automated tests (alternatively `spec` or `tests`)
    ├── tools                   # Tools and utilities
    ├── LICENSE
    └── README.md
       └── aa

In [1]:
## caged_brach
%reload_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

pd.options.display.max_columns = 999
pd.options.display.max_rows = 1999
pd.options.display.max_colwidth = 200

from paths import *
from scpts import manipulation
from scpts import io
from scpts import caged

from basedosdados import Storage, Table, Dataset
import basedosdados as bd

In [4]:
df_ajuste = pd.read_csv('/home/m/Downloads/CAGEDEST_AJUSTES_122019.txt', encoding='latin1', sep=';')

In [5]:
df = pd.read_csv('/home/m/Downloads/CAGEDEST_122019.txt', encoding='latin1', sep=';')

In [6]:
df.shape

(2289007, 42)

In [15]:
[col for col in df_ajuste.columns.tolist() if col not in df.columns.tolist()]

['Competência Movimentação',
 'Ano Movimentação',
 'CBO 94 Ocupação',
 'Região Metro MTE']

In [16]:
[col for col in df.columns.tolist() if col not in df_ajuste.columns.tolist()]

['Ano Declarado', 'CNAE 2.0 Classe']

In [14]:
df.head()

,Admitidos/Desligados,Competência Declarada,Município,Ano Declarado,CBO 2002 Ocupação,CNAE 1.0 Classe,CNAE 2.0 Classe,CNAE 2.0 Subclas,Faixa Empr Início Jan,Grau Instrução,Qtd Hora Contrat,IBGE Subsetor,Idade,Ind Aprendiz,Ind Portador Defic,Raça Cor,Salário Mensal,Saldo Mov,Sexo,Tempo Emprego,Tipo Estab,Tipo Defic,Tipo Mov Desagregado,UF,Bairros SP,Bairros Fortaleza,Bairros RJ,Distritos SP,Regiões Adm DF,Mesorregião,Microrregião,Região Adm RJ,Região Adm SP,Região Corede,Região Corede 04,Região Gov SP,Região Senac PR,Região Senai PR,Região Senai SP,Sub-Região Senai PR,Ind Trab Parcial,Ind Trab Intermitente
0,1,201912,110060,2019,623410,1112,1113,111399,1,7,44,25,25,0,0,6,"000998,00",1,1,"0000,0",3,0,1,11,{ñ c,{ñ c,{ñ c,{ñ c,0,1102,11003,{ñ,999,{ñ,99,999,99,{ñ,999,99,0,0
1,1,201912,110020,2019,411005,1155,1156,115600,1,8,44,25,25,0,0,2,"001450,00",1,1,"0000,0",3,0,1,11,{ñ c,{ñ c,{ñ c,{ñ c,0,1101,11001,{ñ,999,{ñ,99,999,99,{ñ,999,99,0,0
2,1,201912,110146,2019,623110,1155,1156,115600,1,4,44,25,36,0,0,9,"001838,00",1,1,"0000,0",3,0,1,11,{ñ c,{ñ c,{ñ c,{ñ c,0,1102,11008,{ñ,999,{ñ,99,999,99,{ñ,999,99,0,0
3,1,201912,110146,2019,512105,1155,1156,115600,1,5,44,25,36,0,0,9,"001930,00",1,1,"0000,0",3,0,1,11,{ñ c,{ñ c,{ñ c,{ñ c,0,1102,11008,{ñ,999,{ñ,99,999,99,{ñ,999,99,0,0
4,1,201912,110020,2019,422105,1155,1156,115600,1,8,44,25,18,0,0,2,"001300,00",1,2,"0000,0",3,0,1,11,{ñ c,{ñ c,{ñ c,{ñ c,0,1101,11001,{ñ,999,{ñ,99,999,99,{ñ,999,99,0,0

In [13]:
df_ajuste.head()

,Admitidos/Desligados,Competência Movimentação,Município,Ano Movimentação,CBO 94 Ocupação,CBO 2002 Ocupação,CNAE 1.0 Classe,Faixa Empr Início Jan,Grau Instrução,Qtd Hora Contrat,IBGE Subsetor,Idade,Ind Aprendiz,Salário Mensal,Saldo Mov,Sexo,Tempo Emprego,Tipo Estab,Tipo Mov Desagregado,UF,Competência Declarada,Bairros SP,Bairros Fortaleza,Bairros RJ,Distritos SP,Regiões Adm DF,Mesorregião,Microrregião,Região Adm RJ,Região Adm SP,Região Corede,Região Corede 04,Região Gov SP,Região Senac PR,Região Senai PR,Região Senai SP,Sub-Região Senai PR,Região Metro MTE,CNAE 2.0 Subclas,Raça Cor,Ind Portador Defic,Tipo Defic,Ind Trab Parcial,Ind Trab Intermitente
0,2,201812,110034,2018,95110,715210,45292,1,4,44,15,35,0,"000019,20",-1,1,"0008,0",3,6,11,201912,{ñ c,{ñ c,{ñ c,{ñ c,{ñ c,1102,11005,{ñ c,999,{ñ c,99,999,99,{ñ c,999,99,{ñ,4399199,2,0,0,0,0
1,2,201812,110060,2018,65110,632125,2127,1,4,44,25,17,0,"000014,00",-1,2,"0012,0",3,6,11,201912,{ñ c,{ñ c,{ñ c,{ñ c,{ñ c,1102,11003,{ñ c,999,{ñ c,99,999,99,{ñ c,999,99,{ñ,220901,2,0,0,0,0
2,2,201812,110013,2018,63410,622420,1198,1,6,44,25,35,0,"000016,00",-1,1,"0012,0",3,6,11,201912,{ñ c,{ñ c,{ñ c,{ñ c,{ñ c,1102,11003,{ñ c,999,{ñ c,99,999,99,{ñ c,999,99,{ñ,119999,8,0,0,0,0
3,2,201812,110002,2018,45130,521110,52434,1,7,44,16,26,0,"000015,65",-1,2,"0011,0",3,6,11,201912,{ñ c,{ñ c,{ñ c,{ñ c,{ñ c,1102,11003,{ñ c,999,{ñ c,99,999,99,{ñ c,999,99,{ñ,4759899,8,0,0,0,0
4,1,201812,110020,2018,53110,513505,15814,3,4,44,13,19,0,"000014,00",1,1,"0000,0",1,2,11,201912,{ñ c,{ñ c,{ñ c,{ñ c,{ñ c,1101,11001,{ñ c,999,{ñ c,99,999,99,{ñ c,999,99,{ñ,1091102,8,0,0,0,0

### Download Dados
 - ftp://ftp.mtps.gov.br/pdet/microdados/CAGED/

In [7]:
raw_path = '../data/caged/raw/'
clean_path = '../data/caged/clean/'

anos = [i for i in range(2009,2020)]
meses= ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

for ano in anos:
    for mes in meses:
        caged.download_caged_file(ano,mes,raw_path)

01/2007 ja existe
02/2007 ja existe
03/2007 ja existe
04/2007 ja existe
05/2007 ja existe
06/2007 ja existe
07/2007 ja existe
08/2007 ja existe
09/2007 ja existe
10/2007 ja existe
11/2007 ja existe
12/2007 ja existe
01/2008 ja existe
02/2008 ja existe
03/2008 ja existe
04/2008 ja existe
05/2008 ja existe
06/2008 ja existe
07/2008 ja existe
08/2008 ja existe
09/2008 ja existe
10/2008 ja existe
11/2008 ja existe
12/2008 ja existe
01/2009 ja existe
02/2009 ja existe
03/2009 ja existe
04/2009 ja existe
05/2009 ja existe
06/2009 ja existe
07/2009 ja existe
08/2009 ja existe
09/2009 ja existe
10/2009 ja existe
11/2009 ja existe
12/2009 ja existe
01/2010 ja existe
02/2010 ja existe
03/2010 ja existe
04/2010 ja existe
05/2010 ja existe
06/2010 ja existe
07/2010 ja existe
08/2010 ja existe
09/2010 ja existe
10/2010 ja existe
11/2010 ja existe
12/2010 ja existe
01/2011 ja existe
02/2011 ja existe
03/2011 ja existe
04/2011 ja existe
05/2011 ja existe
06/2011 ja existe
07/2011 ja existe
08/2011 ja existe
09/2011 ja existe
10/2011 ja existe
11/2011 ja existe
12/2011 ja existe
01/2012 ja existe
02/2012 ja existe
03/2012 ja existe
04/2012 ja existe
05/2012 ja existe
06/2012 ja existe
07/2012 ja existe
08/2012 ja existe
09/2012 ja existe
10/2012 ja existe
11/2012 ja existe
12/2012 ja existe
01/2013 ja existe
02/2013 ja existe
03/2013 ja existe
04/2013 ja existe
05/2013 ja existe
06/2013 ja existe
07/2013 ja existe
08/2013 ja existe
09/2013 ja existe
10/2013 ja existe
11/2013 ja existe
12/2013 ja existe
01/2014 ja existe
02/2014 ja existe
03/2014 ja existe
04/2014 ja existe
05/2014 ja existe
06/2014 ja existe
07/2014 ja existe
08/2014 ja existe
09/2014 ja existe
10/2014 ja existe
11/2014 ja existe
12/2014 ja existe
01/2015 ja existe
02/2015 ja existe
03/2015 ja existe
04/2015 ja existe
05/2015 criado em 07:32
06/2015 criado em 06:30
07/2015 criado em 05:26
08/2015 criado em 05:24
09/2015 criado em 05:22
10/2015 criado em 04:59
11/2015 criado em 01:57
12/2015 criado em 00:02
01/2016 criado em 00:03
02/2016 criado em 00:03
03/2016 criado em 00:07
04/2016 criado em 00:03
05/2016 criado em 00:03
06/2016 criado em 00:03
07/2016 criado em 00:03
08/2016 criado em 00:03
09/2016 criado em 00:03
10/2016 criado em 00:02
11/2016 criado em 00:03
12/2016 criado em 00:02
01/2017 criado em 00:02
02/2017 criado em 00:03
03/2017 criado em 00:03
04/2017 criado em 00:02
05/2017 criado em 00:03
06/2017 criado em 00:02
07/2017 criado em 00:02
08/2017 criado em 00:03
09/2017 criado em 00:03
10/2017 criado em 00:02
11/2017 criado em 00:02
12/2017 criado em 00:05
01/2018 criado em 00:03
02/2018 criado em 00:02
03/2018 criado em 00:02
04/2018 criado em 00:02
05/2018 criado em 00:03
06/2018 criado em 00:03
07/2018 criado em 00:03
08/2018 criado em 00:04
09/2018 criado em 00:02
10/2018 criado em 00:02
11/2018 criado em 00:02
12/2018 criado em 00:02
01/2019 criado em 00:03
02/2019 criado em 00:03
03/2019 criado em 00:02
04/2019 criado em 00:02
05/2019 criado em 00:03
06/2019 criado em 00:02
07/2019 criado em 00:03
08/2019 criado em 00:03
09/2019 criado em 00:02
10/2019 criado em 00:03
11/2019 ja existe
12/2019 ja existe

### Padronizacao

- o arquivo CAGED_062012 teve troca de nome quando foi descompactado
&nbsp;
- Particao | ano=XXXX/mex=XX/sigla_uf=XX

In [3]:

# ##--------------Download basedosdados---------------###
# q_municipios = """
# SELECT id_municipio,id_municipio_6,sigla_uf
# FROM `basedosdados.br_bd_diretorios_brasil.municipio`
# """
# municipios = bd.read_sql(q_municipios, billing_project_id='gabinete-sv')
# municipios.to_parquet(f'../data/caged/raw/municipios.parquet')

In [2]:
raw_path = '../data/caged/raw/'
clean_path = '../data/caged/clean/'

municipios = pd.read_parquet(f'{raw_path}municipios.parquet')

# anos = [ano for ano in os.listdir(raw_path) if len(ano)==4]
anos = [i for i in range(2019,2021)]
all_cols = pd.DataFrame()

for ano in anos:
    options = os.listdir(raw_path + f"{ano}")
    for option in options:
        meses = os.listdir(raw_path + f"{ano}/" + f"{option}/")
        meses = [int(m) for m in meses]
        meses.sort()
        meses = [str(m) for m in meses]
        for mes in meses:
            path_month = raw_path + f"{ano}/"+ f"{option}/" + f"{int(mes)}/"
            # limpa residuo de arquivos inacabados
            filename_7z = caged.get_file_names_and_clean_residues(path_month)
            if ano>=2020:
                clean_save_path = f"{clean_path}/novo_caged/{option}/"
            else:
                clean_save_path = f"{clean_path}/antigo_caged/{option}/"

            ## verifica se o arquivo ja foi tratado
            if os.path.exists(f'{clean_save_path}/ano={ano}/mes={mes}') and \
               len(os.listdir(f'{clean_save_path}/ano={ano}/mes={mes}'))==27:
                print(f'{ano}-{mes} - {option} --> ja tratado\n')
                pass
            else:
                ## extrai o arquivo zipado, cria um novo arquivo .csv e deleta o arquivo extraido (.txt)
                caged.extract_file(path_month,filename_7z,save_rows=None)
                print(f'{ano}-{mes} - {option} --> extraido')

                ## le o arquivo 
                filename = [file for file in os.listdir(path_month) if '.csv' in file][0][:-4]
                df = pd.read_csv(f'{path_month}{filename}.csv')

                ## renomeia colunas do novo caged
                if ano >= 2020:
                    df = caged.rename_novo_caged(df, option)

                ### padronizacao dos dados
                df = caged.padroniza_novo_caged(df,municipios)
                print(f'{ano}-{mes} - {option} --> padronizado')
                print(f'{ano}-{mes} - {option} -->',df['ano'].unique())
                print(f'{ano}-{mes} - {option} -->',df['mes'].unique())

                for uf in df.sigla_uf.unique():
                    ## filtra apenas o estado de interesse
                    df_uf = df[df['sigla_uf']==uf]
                    ## exclui colunas particionadas
                    df_uf = df_uf.drop(['ano','mes','sigla_uf'],1)
                    ## cria estrutura de pastas
                    path_uf = caged.make_folder_tree(clean_save_path ,ano,mes,uf)
                        
                    df_uf.to_csv(f'{path_uf}caged.csv', index=False)

                ##remove arquivo csv do raw files
                os.remove(f'{path_month}{filename}.csv')
                print(f'{ano}-{mes} - {option} --> finalizado\n')

                #checa nome de todas as colunas
                dd = pd.DataFrame(df.columns.tolist(),columns=['cols'])
                dd = dd.transpose().reset_index(drop=True)
                cols = dd.columns.tolist()
                dd['ano']=ano
                dd['mes']=mes
                dd['option']=option

                dd = dd[['ano','mes','option'] + cols]

                all_cols = pd.concat([all_cols,dd])

2019-1 - movimentacao --> ja tratado

2019-2 - movimentacao --> ja tratado

2019-3 - movimentacao --> ja tratado

2019-4 - movimentacao --> ja tratado

2019-5 - movimentacao --> ja tratado

2019-6 - movimentacao --> ja tratado

2019-7 - movimentacao --> ja tratado

2019-8 - movimentacao --> ja tratado

2019-9 - movimentacao --> ja tratado

2019-10 - movimentacao --> ja tratado

2019-11 - movimentacao --> ja tratado

2019-12 - movimentacao --> ja tratado

2020-1 - estabelecimentos --> ja tratado

2020-2 - estabelecimentos --> ja tratado

2020-3 - estabelecimentos --> ja tratado

2020-4 - estabelecimentos --> ja tratado

2020-5 - estabelecimentos --> ja tratado

2020-6 - estabelecimentos --> ja tratado

2020-7 - estabelecimentos --> ja tratado

2020-8 - estabelecimentos --> ja tratado

2020-9 - estabelecimentos --> ja tratado

2020-10 - estabelecimentos --> ja tratado

2020-11 - estabelecimentos --> ja tratado

2020-12 - estabelecimentos --> ja tratado

2020-1 - movimentacao --> ja tratado

2020-2 - movimentacao --> ja tratado

2020-3 - movimentacao --> ja tratado

2020-4 - movimentacao --> ja tratado

2020-5 - movimentacao --> ja tratado

2020-6 - movimentacao --> ja tratado

2020-7 - movimentacao --> ja tratado

2020-8 - movimentacao --> ja tratado

2020-9 - movimentacao --> ja tratado

2020-10 - movimentacao --> ja tratado

2020-11 - movimentacao --> ja tratado

2020-12 - movimentacao --> ja tratado

### TO BD NOVO CAGED

In [23]:
# microdados_novo_caged_vinculos e microdados_novo_caged_estabelecimentos
tb = Table('microdados_novo_caged_movimentacoes','br_me_caged')

In [24]:
# tb.create(
#     path='../data/caged/clean/novo_caged/movimentacao/2020/',
#     partitioned=True,
#     force_dataset=False,
#     if_exists='replace'
# )

In [25]:
# for ano in range(2020,2021):
#     tb.append(
#         filepath=f'../data/caged/clean/novo_caged/movimentacao/{ano}/',
#         partitions='ano=value/mes=value/sigla_uf=value',
#         if_exists='replace'
#     )
#     print(f'{ano} done!\n')

In [27]:
# tb.publish(if_exists='replace')

In [28]:
# microdados_novo_caged_vinculos e microdados_novo_caged_estabelecimentos
tb = Table('microdados_novo_caged_estabelecimentos','br_me_caged')

In [29]:
# tb.create(
#     path='../data/caged/clean/novo_caged/estabelecimentos/2020/',
#     partitioned=True,
#     force_dataset=False,
#     if_exists='replace'
# )

In [30]:
# for ano in range(2020,2021):
#     tb.append(
#         filepath=f'../data/caged/clean/novo_caged/estabelecimentos/{ano}/',
#         partitions='ano=value/mes=value/sigla_uf=value',
#         if_exists='replace'
#     )
#     print(f'{ano} done!\n')

In [32]:
# tb.publish(if_exists='replace')

### TO BD ANTIGO CAGED

In [46]:
# microdados_novo_caged_vinculos e microdados_novo_caged_estabelecimentos
tb = Table('microdados_caged','br_me_caged')

In [49]:
tb.create(
    path='../data/caged/clean/antigo_caged/movimentacao/2007/',
    partitioned=True,
    force_dataset=False,
    if_exists='replace'
)

Uploading files: 100%|██████████| 1/1 [00:00<00:00,  1.07it/s]

In [39]:
# for ano in range(2008,2020):
#     tb.append(
#         filepath=f'../data/caged/clean/antigo_caged/movimentacao/{ano}/',
#         partitions='ano=value/mes=value/sigla_uf=value',
#         if_exists='replace'
#     )
#     print(f'{ano} done!\n')

In [51]:
# tb.publish(if_exists='replace')